<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <style type= "txt/css">
        body{
            background-image: url("/public/img/heroes.jpg");
        }
    </style>
    <ul>
        <li><a href="/views/index.html">home</a></li>
        <li><a href="/views/babbage.html">babbage</a></li>
        <li><a href="/views/berners-lee.html">berners.lee</a></li>
        <li><a href="/views/clarke.html">clarke</a></li>
        <li><a href="/views/hamilton.html">hamilton</a></li>
        <li><a href="/views/hopper.html">hopper</a></li>
        <li><a href="/views/lovelace.html">lovelace</a></li>
        <li><a href="/views/turing.html">turing</a></li>
    </ul>
</body>
</html>