<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <ul>
        <li><a href="http://localhost:3030/">home</a></li>
        <li><a href="http://localhost:3030/babbage">babbage</a></li>
        <li><a href="http://localhost:3030/berners-lee">berners.lee</a></li>
        <li><a href="http://localhost:3030/clarke">clarke</a></li>
        <li><a href="http://localhost:3030/hamilton">hamilton</a></li>
        <li><a href="http://localhost:3030/hopper">hopper</a></li>
        <li><a href="http://localhost:3030/lovelace">lovelace</a></li>
        <li><a href="http://localhost:3030/turing">turing</a></li>
    </ul>
</body>
</html>